body {
    padding: 0;
    margin: 0;
}

/* background image credit: Pexels / Photographer Tatiana Fet
https://www.pexels.com/photo/aerial-view-and-grayscale-photography-of-high-rise-buildings-1105766/ */

body::after {
    content: "";
    background: url("/img/35mm-aerial-analog-1105766.jpg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.h1 {
    font-family: 'Titillium Web', sans-serif;
}

.container {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #0a0a0a;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 65px auto;
    grid-template-areas:
    "h h h h h h h h h h"
    "c c c c c c c c c c";
}

.header {
    grid-area: h;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #ffffff;
    color: #30408a;
    border-bottom: 1px solid #000000;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
}

.h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #fff568;
    /* text-shadow: https://wpshout.com/quick-guides/create-text-outline-css/ */
    text-shadow:
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
        1px 2px 3px #000000;
    margin: 10px 0;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
}

/*  zip code input */

.label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #fff568;
    /* text-shadow: https://wpshout.com/quick-guides/create-text-outline-css/ */
    text-shadow:
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
        1px 2px 3px #000000;
    margin: 10px 0;
}

.zip-input {
    width: 30%;
    height: 40px;
    margin-left: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    border-radius: 4px;
}

.zip-submit-button{
    background-color: #308a35;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 2px solid #308a35;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    animation: fadeout .5s;
}

.zip-submit-button:hover {
    background-color: #ffffff;
    color: #308a35;
    animation: fadein .5s;
}

/* user registration */

.user-registration-inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.user-registration-input {
    width: 30%;
    height: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    text-align: center;
}

.user-registration-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0;
}

.user-registration-button {
    width: 40%;
    background-color: #308a35;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #308a35;
    border-radius: 6px;
    margin: 10px 20px;
    cursor: pointer;
    animation: fadeout .3s;
}

.user-registration-button:hover {
    background-color: #ffffff;
    color: #308a35;
    animation: fadein .3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.logout-button {
    width: 50px;
    height: 20px;
    margin: auto 0;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background: #30408a;
    padding: 5px;
    border: 2px solid #30408a;
    border-radius: 6px;
    cursor: pointer;
    animation: fadeout .5s;
}

.logout-button a {
    color: #ffffff;
    text-decoration: none;
}

.logout-button:hover {
    color: #30408a;
    background: #ffffff;
    animation: fadein .5s;
}

.logout-button:hover a {
    color: #30408a;
}

.account-delete-button {
    width: 130px;
    height: 20px;
    margin: auto 0;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background: #8a3030;
    padding: 5px;
    border: 2px solid #8a3030;
    border-radius: 6px;
    cursor: pointer;
    animation: fadeout .5s;
}

.account-delete-button a {
    color: #ffffff;
    text-decoration: none;
}

.account-delete-button:hover {
    color: #8a3030;
    background: #ffffff;
    animation: fadein .5s;
}

.account-delete-button:hover a {
    color: #8a3030;
}

/* maps */

.popup-container {
    font-family: 'Titillium Web', sans-serif;
}

.bookmark-button{
    width: 100%;
    background-color: #308a35;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 2px solid #308a35;
    border-radius: 4px;
    margin: 5px 0;
    cursor: pointer;
    animation: fadeout .5s;
}

.bookmark-button:hover {
    background-color: #ffffff;
    color: #308a35;
    animation: fadein .5s;
}

.remove-button{
    width: 100%;
    background-color: #8a3030;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 2px solid #8a3030;
    border-radius: 4px;
    margin: 5px 0;
    cursor: pointer;
    animation: fadeout .5s;
}

.remove-button:hover {
    background-color: #ffffff;
    color: #8a3030;
    animation: fadein .5s;
}

.main-map {
    width: 100%;
}

.map-large {
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.map {
    width: 248px;
    border: 1px solid #000000;
    margin: 0 auto;
}

/* zip code form */

.zip-form {
    margin: 20px auto 10px auto;
    text-align: center;
}

.zip-form label {
    font-size: 30px;
}

/* bookmarks */

.bookmarks {
    width: 900px;
    margin: 10px auto 0 auto;
}

.bookmarks-button {
    width: 100%;
    background-color: #308a35;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    padding: 5px 0;
    border: 2px solid #308a35;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    animation: fadeout .5s;
}

.bookmarks-button:hover {
    background-color: #ffffff;
    color: #308a35;
    animation: fadein .5s;
}

.bookmarks-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.incident {
    width: 280px;
    background-color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 6px;
    margin: 12px 0;
    animation: fadein 1s;
    animation: fadeout .5s;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.incident-trailing {
    width: 280px;
    margin: 12px 0;
}

.text-summary {
    margin: 10px 12px;
}

.details {
    margin: 10px 12px;
}

.details-list {
    list-style: none;
}

